---

---
## Tarefa 3.4 - Análise Exploratória e Estatística Descritiva - Medidas estatísticas utilizando Pyhton

Esta tarefa consiste analisar por meio de métodos de descrição paramétrica (medidas estatísticas) o conjunto de dados *Hourly Wages*.

Você deve implementar em Python os itens solicitados abaixo utilizando a biblioteca Pandas e outras que forem necessárias.

---



---

## Conjunto de dados *Hourly Wages*

Esse conjunto de dados é popularmente empregado para a tarefa de regressão em Machine Learning. Constrói-se e ajusta-se um modelo de aprendizado de máquina para predizer/estimar o salário de um funcionário em função de suas características (anos de estudos, experiência de trabalho, filiação sindical, região, ocupação e sexo).

- Número de Instâncias: 534

- Número de Atributos: 9 atributos numéricos e o target (*wage_per_hour*)

- Informações dos Atributos:
  - union (filiação sindical)
  - education_yrs (anos de instrução)
  - experience_yrs (anos de experiência)
  - age (idade)
  - female (sexo)
  - marr (estado civil - casado)
  - south (região)
  - manufacturing (indústria)
  - construction (construção)

  
- Variável de destino (target): wage_per_hour

## Implementar os itens abaixo:

#### a-) Clonar o repositório de dados da disciplina (DSBD) hospedado no GitHUb.

In [1]:
!git clone "https://github.com/malegopc/DSBD"

Cloning into 'DSBD'...
remote: Enumerating objects: 728, done.
remote: Counting objects: 100% (271/271), done.
remote: Compressing objects: 100% (157/157), done.
remote: Total 728 (delta 145), reused 217 (delta 111), pack-reused 457 (from 1)
Receiving objects: 100% (728/728), 14.80 MiB | 10.38 MiB/s, done.
Resolving deltas: 100% (353/353), done.

#### b-) Ler o dataset "*Hourly_wages/hourly_wages.csv*" como dataframe utilizando a biblioteca Pandas e mostrar as 5 primeiras e as 5 últimas linhas do dataset.

In [2]:
import pandas as pd
df = pd.read_csv("/content/DSBD/Datasets/Hourly_wages/hourly_wages.csv")
df.head()
df.tail()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
529,11.36,0,18,5,29,0,0,0,0,0
530,6.10,0,12,33,51,1,1,0,0,0
531,23.25,1,17,25,48,1,1,0,0,0
532,19.88,1,12,13,31,0,1,1,0,0
533,15.38,0,16,33,55,0,1,0,1,0

#### c-) Obter um resumo da estatística descritiva dos dados utilizando um único comando (função).

In [3]:
df.describe()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
count,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000
mean,9.024064,0.179775,13.018727,17.822097,36.833333,0.458801,0.655431,0.292135,0.185393,0.044944
std,5.139097,0.384360,2.615373,12.379710,11.726573,0.498767,0.475673,0.455170,0.388981,0.207375
min,1.000000,0.000000,2.000000,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.250000,0.000000,12.000000,8.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.780000,0.000000,12.000000,15.000000,35.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,11.250000,0.000000,15.000000,26.000000,44.000000,1.000000,1.000000,1.000000,0.000000,0.000000
max,44.500000,1.000000,18.000000,55.000000,64.000000,1.000000,1.000000,1.000000,1.000000,1.000000

#### d-) Calcule a proporção de funcionários de sexo masculino e feminino.

In [11]:
proporcaomasculina = (df['female'] == 0).sum() / len(df)
proporcaofeminina = (df['female'] == 1).sum() / len(df)

print(f"Proporção de funcionários masculinos: {proporcaomasculina * 100:.2f}%")
print(f"Proporção de funcionários femininos: {proporcaofeminina * 100:.2f}%")

Proporção de funcionários masculinos: 54.12%
Proporção de funcionários femininos: 45.88%

#### e-) Calcule a proporção de casados e solteiros.

In [9]:
proporcaocasados = (df['marr'] == 1).sum() / len(df)
proporcaosolteiros = (df['marr'] == 0).sum() / len(df)

print(f"Proporção de funcionários casados: {proporcaocasados * 100:.2f}%")
print(f"Proporção de funcionários solteiros: {proporcaosolteiros * 100:.2f}%")

Proporção de funcionários casados: 65.54%
Proporção de funcionários solteiros: 34.46%

#### f-) Calcule as médias de cada uma das variáveis: anos de educação, anos de experiência e idade

In [13]:
education_mean = df['education_yrs'].mean()
experience_mean = df['experience_yrs'].mean()
age_mean = df['age'].mean()

print(f"Média de anos de educação: {education_mean:.2f}")
print(f"Média de anos de experiência: {experience_mean:.2f}")
print(f"Média de idade: {age_mean:.2f}")

Média de anos de educação: 13.02
Média de anos de experiência: 17.82
Média de idade: 36.83

#### g-) Calcule as medianas de cada uma das variáveis: anos de educação, anos de experiência e idade.

In [15]:
education_median = df['education_yrs'].median()
experience_median = df['experience_yrs'].median()
age_median = df['age'].median()

print(f"Mediana de anos de educação: {education_median:.2f}")
print(f"Mediana de anos de experiência: {experience_median:.2f}")
print(f"Mediana de idade: {age_median:.2f}")

Mediana de anos de educação: 12.00
Mediana de anos de experiência: 15.00
Mediana de idade: 35.00

####h-) Calcule as modas de cada uma das variáveis: anos de educação, anos de experiência e idade.

In [17]:
education_years = df['education_yrs'].mode()
experience_years = df['experience_yrs'].mode()
age = df['age'].mode()

print(f"Moda de anos de educação: {education_years.mode().values[0]}")
print(f"Moda de anos de experiência: {experience_years.mode().values[0]}")
print(f"Moda de idade: {age.mode().values[0]}")

Moda de anos de educação: 12
Moda de anos de experiência: 14
Moda de idade: 32

####i-) Analisando especificamente a variável **idade**, responda: qual é a idade do conjunto de dados em que **70%** dos funcionários apresentam idade inferior?

In [19]:
age_quantile = df['age'].quantile(0.7)
print(f"O conjunto de dados em que 70% dos funcionários apresentam idade inferior é: {age_quantile}")

O conjunto de dados em que 70% dos funcionários apresentam idade inferior é: 42.0

####j-) Analisando especificamente a variável **anos de experiência**, responda: qual é a quantidade de anos de experiência no conjunto de dados em que 10% dos funcionários ainda não possuem?

In [21]:
experience_quantile = df['experience_yrs'].quantile(0.1)
print(f"A quantidade de anos de experiência no conjunto de dados em que 10% dos funcionários ainda não possuem é: {experience_quantile}")

A quantidade de anos de experiência no conjunto de dados em que 10% dos funcionários ainda não possuem é: 3.0

####k-) Calcule o desvio-padrão de cada um dos atributos: anos de educação, anos de experiência e idade.

In [22]:
education_std = df['education_yrs'].std()
experience_std = df['experience_yrs'].std()
age_std = df['age'].std()
print(f"Desvio padrão de anos de educação: {education_std:.2f}")
print(f"Desvio padrão de anos de experiência: {experience_std:.2f}")
print(f"Desvio padrão de idade: {age_std:.2f}")

Desvio padrão de anos de educação: 2.62
Desvio padrão de anos de experiência: 12.38
Desvio padrão de idade: 11.73

####l-) Determine qual dos três atributos apresenta maior variabilidade: anos de educação, anos de experiência ou idade? Justifique a sua resposta.

In [23]:
education_var = df['education_yrs'].var()
experience_var = df['experience_yrs'].var()
age_var = df['age'].var()
print(f"Variância de anos de educação: {education_var:.2f}")
print(f"Variância de anos de experiência: {experience_var:.2f}")
print(f"Variância de idade: {age_var:.2f}")

Variância de anos de educação: 6.84
Variância de anos de experiência: 153.26
Variância de idade: 137.51

####m-) Leia o conjunto de dados [Atlas_Brasil_2014.csv](https://github.com/malegopc/DSBD/blob/main/Datasets/Atlas/Atlas_Brasil_2014.csv)

In [24]:
dataf = pd.read_csv("/content/DSBD/Datasets/Atlas/Atlas_Brasil_2014.csv")
dataf.head()
dataf.tail()

   ESTADO  MORT1  ANOSEST  T_ANALF25M     RDPC      POPT   IDHM
22     RS  10.16     8.97        5.30  1000.62  10851074  0.779
23     MS  14.94     8.80        7.77   930.50   2599715  0.762
24     MT  17.71     8.74        9.09   844.21   3141541  0.767
25     GO  15.79     8.60        9.59   796.18   6373595  0.750
26     DF  10.99    10.98        3.35  1606.40   2756412  0.839

n-) Calcule a média do IDHM.

In [25]:
IDHM_mean = dataf['IDHM'].mean()
print(f"Média do IDHM: {IDHM_mean:.2f}")

Média do IDHM: 0.74

o-) Qual é a taxa de mortalidade em que 50% dos estados apresentam taxa inferior?

In [26]:
mortalidade_quantile = dataf['MORT1'].quantile(0.5)
print(f"A taxa de mortalidade em que 50% dos estados apresentam taxa inferior é: {mortalidade_quantile}")

A taxa de mortalidade em que 50% dos estados apresentam taxa inferior é: 16.86

p-) Calcule qual o valor de RDPC (renda per capita) em que 25% dos estados apresentam valor superior.

In [27]:
RDPC_quantile = dataf['RDPC'].quantile(0.75)
print(f"O valor de RDPC em que 25% dos estados apresentam valor superior é: {RDPC_quantile}")

O valor de RDPC em que 25% dos estados apresentam valor superior é: 885.165

q-) Determine dentre as duas variáveis: T_ANALF25M (Taxa de analfabetismo - 25 anos ou mais) ou RDPC (Renda per capita média), qual apresenta maior variabilidade. Justifique a sua resposta.

In [31]:
analfabetismo_var = dataf['T_ANALF25M'].var()
RDPC_var = dataf['RDPC'].var()

if analfabetismo_var > RDPC_var:
    print(f"A variável T_ANALF25M apresenta maior variabilidade: {analfabetismo_var:.2f}, porque sua taxa de variância é maior.")
else:
    print(f"A variável RDPC apresenta maior variabilidade: {RDPC_var:.2f}, porque sua taxa de variância é maior.")

A variável RDPC apresenta maior variabilidade: 72189.77, porque sua taxa de variância é maior.