<a href="https://colab.research.google.com/github/pedrofamaral/Panda-Python/blob/main/C%C3%B3pia_de_Tarefa2_parteIII.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


---

---
# Manipulação de dataframe - TAREFA 2 - Parte III
---

---

##1-) Leitura dos dados

A base de dados [Churn_Modelling](https://github.com/malegopc/DSBD/blob/main/Datasets/Churn/Churn_Modelling.csv) é utilizada para prever (classificar) quando um cliente irá parar de utilizar o serviço de um banco.

Conjunto de dados (características):

* Número de Instâncias: 10.000

* Número de Atributos: 13 atributos (incluindo o target)

* Informações dos Atributos:

  1. RowNumber
  2. CustomerId
  3. Surname
  4. CreditScore
  5. Geography
  6. Gender Age
  7. Tenure
  8. Balance
  9. NumOfProducts
  10. HasCrCard
  11. IsActiveMember
  12. EstimatedSalary
  13. Exited (variável de destino - target)

*Clone o repositório de dados da disciplina (https://github.com/malegopc/DSBD), faça a leitura do arquivo **Churn_Modelling.csv** disponível na pasta [Churn_Modelling](https://github.com/malegopc/DSBD/blob/main/Datasets/Churn) e armazene-o numa variável do tipo dataframe. Basta utilizar a função [pd.read_csv](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) da biblioteca pandas.*

In [ ]:
!git clone https://github.com/malegopc/DSBD

Cloning into 'DSBD'...
remote: Enumerating objects: 721, done.
remote: Counting objects: 100% (264/264), done.
remote: Compressing objects: 100% (150/150), done.
remote: Total 721 (delta 140), reused 217 (delta 111), pack-reused 457 (from 1)
Receiving objects: 100% (721/721), 14.79 MiB | 13.75 MiB/s, done.
Resolving deltas: 100% (348/348), done.

##2-) Visualização do dataframe

*Mostre as 5 primeiras e as 5 últimas linhas do dataframe.*

In [ ]:
import pandas as pd

df_churn = pd.read_csv('/content/DSBD/Datasets/Churn/Churn_Modelling.csv')

print("Primeiras 5 linhas:")
print(df_churn.head(5))

print("\nÚltimas 5 linhas:")
print(df_churn.tail(5))

Primeiras 5 linhas:
   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  \
0          1    15634602  Hargrave          619    France  Female   42
1          2    15647311      Hill          608     Spain  Female   41
2          3    15619304      Onio          502    France  Female   42
3          4    15701354      Boni          699    France  Female   39
4          5    15737888  Mitchell          850     Spain  Female   43

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       2       0.00              1          1               1
1       1   83807.86              1          0               1
2       8  159660.80              3          1               0
3       1       0.00              2          0               0
4       2  125510.82              1          1               1

   EstimatedSalary  Exited
0        101348.88       1
1        112542.58       0
2        113931.57       1
3         93826.63       0
4         79084.10       0

Últimas 5 linhas:
      RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

##3-) Eliminação manual de variáveis

*Elimine as variáveis (colunas): 'RowNumber', 'CustomerId' e 'Surname'.*

In [ ]:
# Verify the actual column names in your DataFrame
print(df_churn.columns)

# Adjust the column names in the drop method if needed. For example, if the column names are lowercase:
df_churn = df_churn.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1, errors='ignore')
print(df_churn.head(5))

Index(['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary',
       'Exited'],
      dtype='object')
   CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
0          619    France  Female   42       2       0.00              1
1          608     Spain  Female   41       1   83807.86              1
2          502    France  Female   42       8  159660.80              3
3          699    France  Female   39       1       0.00              2
4          850     Spain  Female   43       2  125510.82              1

   HasCrCard  IsActiveMember  EstimatedSalary  Exited
0          1               1        101348.88       1
1          0               1        112542.58       0
2          1               0        113931.57       1
3          0               0         93826.63       0
4          1               1         79084.10       0

##4-) Dados ausentes

*Verifique se há dados ausentes no dataframe.*

In [ ]:
print(df_churn.isnull().sum())

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

## 5-) Separa as variáveis

*Utilizando a função **[iloc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html?highlight=iloc#pandas.DataFrame.iloc)**, copie para uma variável "X" os valores de todas as variáveis (colunas) do dataframe, exceto os valores da variável "Exited".*

*E copie para uma variável "y" somente os valores da variável "Exited".*

In [ ]:
# prompt: Utilizando a função iloc, copie para uma variável "X" os valores de todas as variáveis (colunas) do dataframe, exceto os valores da variável "Exited".
# E copie para uma variável "y" somente os valores da variável "Exited".

X = df_churn.iloc[:, :-1].values
y = df_churn.iloc[:, -1].values
print(X)
print(y)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]
[1 0 1 ... 1 1 0]