<a href="https://colab.research.google.com/github/pedrofamaral/Panda-Python/blob/main/Ol%C3%A1%2C_este_%C3%A9_o_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tarefa 5.1 - Pré-processamento de um conjunto de dados
1. Faça a leitura do arquivo "Churn_Modelling_2.csvLinks to an external site." disponível na pasta "ChurnLinks to an external site." no repositório GitHub da disciplinaLinks to an external site. e armazene numa variável como um dataframe

In [34]:
import pandas as pd

url = 'https://raw.githubusercontent.com/malegopc/DSBD/main/Datasets/Churn/Churn_Modelling.csv'

df = pd.read_csv(url)

print(df.head())

   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  \
0          1    15634602  Hargrave          619    France  Female   42
1          2    15647311      Hill          608     Spain  Female   41
2          3    15619304      Onio          502    France  Female   42
3          4    15701354      Boni          699    France  Female   39
4          5    15737888  Mitchell          850     Spain  Female   43

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       2       0.00              1          1               1
1       1   83807.86              1          0               1
2       8  159660.80              3          1               0
3       1       0.00              2          0               0
4       2  125510.82              1          1               1

   EstimatedSalary  Exited
0        101348.88       1
1        112542.58       0
2        113931.57       1
3         93826.63       0
4         79084.10       0

2. Elimine instâncias (linhas) com dados ausentes para a variável "IsActiveMember".

In [35]:
df_cleaned = df.dropna(subset=['IsActiveMember'])

print(df_cleaned.head())

print(f"Linhas antes da remoção: {len(df)}")
print(f"Linhas após a remoção: {len(df_cleaned)}")

   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  \
0          1    15634602  Hargrave          619    France  Female   42
1          2    15647311      Hill          608     Spain  Female   41
2          3    15619304      Onio          502    France  Female   42
3          4    15701354      Boni          699    France  Female   39
4          5    15737888  Mitchell          850     Spain  Female   43

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       2       0.00              1          1               1
1       1   83807.86              1          0               1
2       8  159660.80              3          1               0
3       1       0.00              2          0               0
4       2  125510.82              1          1               1

   EstimatedSalary  Exited
0        101348.88       1
1        112542.58       0
2        113931.57       1
3         93826.63       0
4         79084.10       0
Linhas antes da remoção: 10000
Linhas após a remoção: 10000

3. Faça a imputação dos dados ausentes para a variável "NumOfProducts" utilizando a média da variável.

In [36]:
media_num_of_products = df_cleaned['NumOfProducts'].mean()


df_cleaned = df_cleaned.copy()
df_cleaned['NumOfProducts'] = df_cleaned['NumOfProducts'].fillna(media_num_of_products)

print(df_cleaned.head())

print(f"Valores ausentes restantes em 'NumOfProducts': {df_cleaned['NumOfProducts'].isna().sum()}")

   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  \
0          1    15634602  Hargrave          619    France  Female   42
1          2    15647311      Hill          608     Spain  Female   41
2          3    15619304      Onio          502    France  Female   42
3          4    15701354      Boni          699    France  Female   39
4          5    15737888  Mitchell          850     Spain  Female   43

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       2       0.00              1          1               1
1       1   83807.86              1          0               1
2       8  159660.80              3          1               0
3       1       0.00              2          0               0
4       2  125510.82              1          1               1

   EstimatedSalary  Exited
0        101348.88       1
1        112542.58       0
2        113931.57       1
3         93826.63       0
4         79084.10       0
Valores ausentes restantes em 'NumOfProducts': 0

4. Crie uma variável (array) X que contenha os valores apenas dos atributos/colunas de "CreditScore" a "EstimatedSalary" utilizando a função "iloc" do Pandas. Em outras palavras, crie uma variável X que receba o dataframe inteiro exceto as 3 primeiras colunas e a última. Observe que as 3 primeiras colunas "RowNumber", "CustomerId" e "Surname" não são importantes e devem ser descartadas. E a última coluna ("Exited") será a variável destino ("target" ou saída) que será criada no próximo passo

In [37]:
X = df_cleaned.iloc[:, 3:-1]
print(X.head())

   CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
0          619    France  Female   42       2       0.00              1
1          608     Spain  Female   41       1   83807.86              1
2          502    France  Female   42       8  159660.80              3
3          699    France  Female   39       1       0.00              2
4          850     Spain  Female   43       2  125510.82              1

   HasCrCard  IsActiveMember  EstimatedSalary
0          1               1        101348.88
1          0               1        112542.58
2          1               0        113931.57
3          0               0         93826.63
4          1               1         79084.10

5. Crie uma variável (array) y que contenha apenas a última coluna  ("Exited"). Esta é a variável destino ("target" ou saída)

In [38]:
y = df_cleaned['Exited']
print(y.head())

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

6. Codifique a coluna da variável X correspondente a variável categórica "Gender" como numérica utilizando a classe LabelEncoder da biblioteca scikit-learn;

In [39]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

X['Gender'] = le.fit_transform(X['Gender'])

print(X.head())

   CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
0          619    France       0   42       2       0.00              1
1          608     Spain       0   41       1   83807.86              1
2          502    France       0   42       8  159660.80              3
3          699    France       0   39       1       0.00              2
4          850     Spain       0   43       2  125510.82              1

   HasCrCard  IsActiveMember  EstimatedSalary
0          1               1        101348.88
1          0               1        112542.58
2          1               0        113931.57
3          0               0         93826.63
4          1               1         79084.10

7. Codifique a coluna da variável X correspondente a variável categórica "Geography" como numérica por meio de Codificação de Variável Fictícia (Dummy Variable Encoding). Observe que há 3 países (categorias) diferentes. Atenção: você deve transformar o resultado da variável/coluna "Geography" para o formato binário (one-hot) de modo que fique representado por apenas duas colunas (de 0s e 1s). Além disso, essas duas novas colunas devem permanecer na mesma variável X. Dica: verifique a utilização da função make_column_transformerLinks to an external site. da biblioteca scikit-learn. Alternativamente, você pode utilizar a função pandas.get_dummies.

In [40]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

# Verificar se a coluna 'Geography' está presente no dataset
if 'Geography' not in X.columns:
    print("Coluna Geography não encontrada no dataset.")
else:
    # Criando o transformer para a coluna 'Geography' com one-hot encoding
    column_transformer = ColumnTransformer(
        transformers=[
            ('geo', OneHotEncoder(drop='first'), ['Geography'])
        ],
        remainder='passthrough'  # Manter as outras colunas sem alterações
    )

    # Aplicando a transformação no X
    X = column_transformer.fit_transform(X)

    # Exibindo as primeiras linhas para verificar o formato resultante
    print(X[:5])

[[0.0000000e+00 0.0000000e+00 6.1900000e+02 0.0000000e+00 4.2000000e+01
  2.0000000e+00 0.0000000e+00 1.0000000e+00 1.0000000e+00 1.0000000e+00
  1.0134888e+05]
 [0.0000000e+00 1.0000000e+00 6.0800000e+02 0.0000000e+00 4.1000000e+01
  1.0000000e+00 8.3807860e+04 1.0000000e+00 0.0000000e+00 1.0000000e+00
  1.1254258e+05]
 [0.0000000e+00 0.0000000e+00 5.0200000e+02 0.0000000e+00 4.2000000e+01
  8.0000000e+00 1.5966080e+05 3.0000000e+00 1.0000000e+00 0.0000000e+00
  1.1393157e+05]
 [0.0000000e+00 0.0000000e+00 6.9900000e+02 0.0000000e+00 3.9000000e+01
  1.0000000e+00 0.0000000e+00 2.0000000e+00 0.0000000e+00 0.0000000e+00
  9.3826630e+04]
 [0.0000000e+00 1.0000000e+00 8.5000000e+02 0.0000000e+00 4.3000000e+01
  2.0000000e+00 1.2551082e+05 1.0000000e+00 1.0000000e+00 1.0000000e+00
  7.9084100e+04]]

8. Divida as variáveis X e y em dados de treino e de teste utilizando o método "train_test_split", gerando as variáveis X_train, X_test, y_train e y_test. Você define a proporção de dados de treino e de teste;

In [25]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(f"X_train shape: {X_train.shape}")
print(f"X_test shape: {X_test.shape}")
print(f"y_train shape: {y_train.shape}")
print(f"y_test shape: {y_test.shape}")

X_train shape: (8000, 11)
X_test shape: (2000, 11)
y_train shape: (8000,)
y_test shape: (2000,)

9. Faça a padronização (escalonamento) dos valores das variáveis contidos no X_train utilizando a classe StandardScaler do scikit-learn e, depois, já aplique no X_test;

In [27]:
from sklearn.preprocessing import StandardScaler


scaler = StandardScaler()


X_train_scaled = scaler.fit_transform(X_train)


X_test_scaled = scaler.transform(X_test)


print("X_train (padronizado):\n", X_train_scaled[:5])
print("\nX_test (padronizado):\n", X_test_scaled[:5])

X_train (padronizado):
 [[ 0.35649971  0.91324755 -0.6557859   0.34567966 -1.21847056  0.80843615
   0.64920267  0.97481699  1.36766974 -0.57946723 -0.57638802]
 [-0.20389777  0.91324755  0.29493847 -0.3483691   0.69683765  0.80843615
   0.64920267  0.97481699  1.6612541   1.72572313 -0.57638802]
 [-0.96147213  0.91324755 -1.41636539 -0.69539349  0.61862909 -0.91668767
   0.64920267 -1.02583358 -0.25280688 -0.57946723  1.73494238]
 [-0.94071667 -1.09499335 -1.13114808  1.38675281  0.95321202 -0.91668767
   0.64920267 -1.02583358  0.91539272 -0.57946723 -0.57638802]
 [-1.39733684  0.91324755  1.62595257  1.38675281  1.05744869 -0.91668767
  -1.54035103 -1.02583358 -1.05960019 -0.57946723 -0.57638802]]

X_test (padronizado):
 [[-0.57749609  0.91324755 -0.6557859  -0.69539349  0.32993735  0.80843615
  -1.54035103 -1.02583358 -1.01960511  1.72572313 -0.57638802]
 [-0.29729735  0.91324755  0.3900109  -1.38944225 -1.21847056  0.80843615
   0.64920267  0.97481699  0.79888291 -0.57946723 -0.57638802]
 [-0.52560743 -1.09499335  0.48508334 -0.3483691  -1.21847056  0.80843615
   0.64920267 -1.02583358 -0.72797953 -0.57946723  1.73494238]
 [-1.51149188  0.91324755  1.91116988  1.03972843  0.68927246  0.80843615
   0.64920267  0.97481699  1.22138664  1.72572313 -0.57638802]
 [-0.9510944  -1.09499335 -1.13114808  0.69270405  0.78283876 -0.91668767
   0.64920267  0.97481699  0.24756011 -0.57946723  1.73494238]]

10. Execute todo o código e submeta o arquivo do notebook aqui na tarefa.